.img_10 {
  width:  10%;
  height: 10%;
}
.img_20 {
  width:  20%;
  height: 20%;
}
.img_30 {
  width:  30%;
  height: 30%;
}
.img_40 {
  width:  40%;
  height: 40%;
}
.img_45 {
  width:  45%;
  height: 45%;
}
.img_50 {
  width:  50%;
  height: 50%;
}
.img_55 {
  width:  55%;
  height: 55%;
}
.img_60 {
  width:  60%;
  height: 60%;
}
.img_65 {
  width:  65%;
  height: 65%;
}
.img_70 {
  width:  70%;
  height: 70%;
}
.img_80 {
  width:  80%;
  height: 80%;
}
.img_90 {
  width:  90%;
  height: 90%;
}
